/* This file allows for the SASS styling of the NavBar. Major benefit of using SASS is the ability to have colour variables like the ones listed (and being used) below. Refer to ProjectWixs style Guide for colour codes, typography, and other styling. */
@import "Colors";

.navLink-normal {
  padding-left: 5px;
  padding-right: 5px;
  color: $white;
}

// Used when a navigation link has been clicked
.navLink-selected {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: "bold";
  color: $accent-1;
}

.button-secondary{
	padding-left: 5px;
  padding-right: 5px;
  font-weight: "bold";
  color: $grey;
}
