@import '../sass/Colors.scss';

.editor-container{
  display: grid;
  grid-template-columns: 1200px auto;
  grid-template-rows: auto;
  grid-template-areas: 'editor' 'sidebar';
}

.editor-sidebar{
  grid-area: 'sidebar';
}

.editor-grid{
  grid-area: 'editor';
  width: 1200px;
  margin: 0 auto;
}