@import '../sass/Colors.scss';

.editor-container{
  display: grid;
  grid-template-columns: 1200px auto;
  grid-template-rows: auto;
  grid-template-areas: 'editor' 'sidebar';
}

.editor-sidebar{
  grid-area: 'sidebar';
}

.editor-grid{
  grid-area: 'editor';
  width: 1200px;
  margin: 0 auto;
}


.react-grid-item{
  border: 1px dashed grey;
  border-radius: 5px;
}

.react-grid-item-active{
  //TODO change outline on selected item
}